*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  width: 60%;
  margin: 0 auto;
  background-color: #13678A;
  color: white;
  padding: 1rem;
  border-radius: .50rem;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin-top: 3rem;
  
}
.container h1{
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.container > form > .itens  > input, select, button{
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: .25rem;
  border: none;
  width: 100%;
  height: 30px;
}
.itens{
  width: 70%;
  margin: auto;
}
.corDados{
background-color: #03A63C;
color: white;
}
.cabecalhoDados{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 2rem;
}
.cabecalhoDados > button{
  width: 50px;
  height: 50px;
  background-color: red;
  color: white;
  font-size: 25px;
}
.container > p{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 22px;
}